<!DOCTYPE html>
<html layout:decorate="~{/layout}">
<div layout:fragment="content" class="container">
  <section class="main">
    <div class="wrapper">
      <div class="left-col">
        <div class="post">
          <div class="info">
            <div class="user">
              <div class="profile-pic"><img src="/images/icon-kakao.PNG" alt=""></div>
              <p class="username">modern_web_channel</p>
            </div>
          </div>
          <form th:action="@{|/setting/modify/${board.id}|}" th:object="${boardForm}" method="post">
            <div th:replace="/form_error :: formErrorsFragment"></div>
            <img src="/images/kosom.PNG" class="post-image" alt="">
            <div class="post-content">
              <div class="reaction-wrapper">
                <img src="/images/kosom.PNG" class="icon" alt="">
                <img src="/images/kosom.PNG" class="icon" alt="">
                <img src="/images/kosom.PNG" class="icon" alt="">
                <img src="/images/icon-kakao.PNG" class="save icon" alt="">
              </div>
              <p class="likes">1,012 likes</p>
              <p class="description">
                <span>
                  <label for="title" class="form-label">제목</label>
                  <input  type="text" name="title" class="form-control" th:value="${board.title}">
                </span>
                <label for="content" class="form-label">내용</label>
                <textarea name="content" class="form-control" rows="10" th:text="${board.content}"></textarea>
              </p>
              <p class="post-time">
                <div th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                <div th:text="${#temporals.format(board.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
              </p>

              <div class="comment-wrapper">
                <div class="form-check form-switch">
                  <div th:if="!${board.onOff}">
                    <input class="form-check-input" type="checkbox" name="onOff" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">댓글막기</label>
                  </div>
                  <div th:if="${board.onOff}">
                    <input class="form-check-input" type="checkbox" name="onOff" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">댓글막기</label>
                  </div>
                </div>

                <input type="submit" value="저장하기" class="comment-btn">
                <a th:href="@{|/board/post/detail/${board.id}|}" class="comment-btn">취소</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
</html>