<!DOCTYPE html>
<html layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div th:each ="board : ${boardList}">
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"><img src="/images/icon-kakao.PNG" alt=""></div>
                                <p class="username">modern_web_channel</p>
                            </div>
                            <!-- 옵션 -->
                            <button type="button" class="btn btn-primary" id="myModal" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <img src="/images/option.png" class="options" alt="">
                            </button>
                        </div>
                        <img src="/images/kosom.PNG" class="post-image" alt="">
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/icon-kakao.PNG" class="save icon" alt="">
                            </div>
                            <p class="likes">1,012 likes</p>
                            <p class="description">
                            <div th:text="${board.title}"></div>
                            <div th:text="${board.content}"></div>
                            </p>
                            <p class="post-time">
                            <div th:text="${#temporals.format(board.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </p>
                        </div>
                        <div class="comment-wrapper">
                            <img src="/images/icon-kakao.PNG" class="icon" alt="">
                            <input type="text" class="comment-box" placeholder="Add a comment">
                            <button class="comment-btn">post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    &lt;!&ndash; Modal &ndash;&gt;-->
    <!--    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-body center">-->
    <!--                    <a href="" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">-->
    <!--                        <div>-->
    <!--                            삭제-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->

    <!--                    <a th:href="@{|/setting/modify/${board.id}|}">-->
    <!--                        <div>-->
    <!--                            수정-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->

    <!--                    <a th:href="@{|/board/post|}">-->
    <!--                        <div>-->
    <!--                            목록으로 이동-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->

    <!--                    <a href="" onclick="javascript:copy();">-->
    <!--                        <div>-->
    <!--                            링크 복사-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->

    <!--                    <a href="">-->
    <!--                        <div>-->
    <!--                            팔로우-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->

    <!--                    <a href="" onclick="javascript:url()" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"-->
    <!--                       data-bs-dismiss="modal">-->
    <!--                        <div>-->
    <!--                            공유-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->

    <!--                    <a href="" data-bs-dismiss="modal">-->
    <!--                        <div>-->
    <!--                            취소-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; modal 2 &ndash;&gt;-->
    <!--    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"-->
    <!--         tabindex="-1">-->
    <!--        <div class="modal-dialog modal-dialog-centered">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    삭제하시겠습니까?-->
    <!--                </div>-->
    <!--                <div class="modal-body center">-->
    <!--                    <a th:href="@{|/setting/delete/${board.id}|}">-->
    <!--                        <div>-->
    <!--                            확인-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                    <hr>-->
    <!--                    <a href="" data-bs-dismiss="modal">-->
    <!--                        <div>-->
    <!--                            취소-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; modal 3 &ndash;&gt;-->
    <!--    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"-->
    <!--         tabindex="-1">-->
    <!--        <div class="modal-dialog modal-dialog-centered">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    공유하기-->
    <!--                </div>-->
    <!--                <div class="modal-body center">-->
    <!--                    <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();">트위터</a>-->
    <!--                    <a id="btnKakao" class="link-icon kakao" href="javascript:sendLinkDefault();">카카오톡</a>-->

    <!--                    <hr>-->

    <!--                    <input type="text" id="ShareUrl">-->
    <!--                    <span class="btn-type1">-->
    <!--                        <button OnClick="javascript:CopyUrlToClipboard()">URL 복사</button>-->
    <!--                    </span>-->
    <!--                    <hr>-->
    <!--                    <a href="" data-bs-dismiss="modal">-->
    <!--                        <div>-->
    <!--                            취소-->
    <!--                        </div>-->
    <!--                    </a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</div>

<!-- 자바스크립트 -->
<script layout:fragment="script" type='text/javascript'>


</script>


</body>
</html>