<!DOCTYPE html>
<html layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <title>Post</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <!-- 게시글 작성 -->
                <a th:href="@{/board/create}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>

                <div th:each ="board : ${boardList}">
                    <div class="post">
                        <div class="info">
                            <div class="user">
                                <div class="profile-pic"><img src="/images/icon-kakao.PNG" alt=""></div>
                                <p class="username">modern_web_channel</p>
                            </div>
                            <!-- 옵션 -->
                            <button type="button" class="btn" id="myModal" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" th:data-id="${board.id}" th:data-title="${board.title}" th:data-content="${board.content}">
                                <img src="/images/option.png" class="options" alt="">
                            </button>
                        </div>
                        <img src="/images/kosom.PNG" class="post-image" alt="">
                        <div class="post-content">
                            <div class="reaction-wrapper">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/kosom.PNG" class="icon" alt="">
                                <img src="/images/icon-kakao.PNG" class="save icon" alt="">
                            </div>
                            <p class="likes">1,012 likes</p>
                            <p class="description">
                            <div th:text="${board.title}"></div>
                            <div th:text="${board.content}"></div>
                            </p>
                            <p class="post-time">
                            <div th:text="${#temporals.format(board.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                            </p>
                        </div>
                        <div class="comment-wrapper">
                            <img src="/images/icon-kakao.PNG" class="icon" alt="">
                            <input type="text" class="comment-box" placeholder="Add a comment">
                            <button class="comment-btn">post</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body center">

                    <a href="" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">
                        <div>
                            삭제
                        </div>
                    </a>
                    <hr>


                    <a href="javascript:move('/setting/modify/');">
                        <div>
                            수정
                        </div>
                    </a>
                    <hr>

                    <a href="javascript:move('/board/post/detail/');">
                        <div>
                            게시글로 이동
                        </div>
                    </a>
                    <hr>

                    <a href="" onclick="javascript:copy();">
                        <div>
                            링크 복사
                        </div>
                    </a>
                    <hr>

                    <a href="">
                        <div>
                            팔로우
                        </div>
                    </a>
                    <hr>

                    <a href="" onclick="javascript:url()" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                       data-bs-dismiss="modal">
                        <div>
                            공유
                        </div>
                    </a>
                    <hr>

                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 2 -->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    삭제하시겠습니까?
                </div>
                <div class="modal-body center">
                    <a href="javascript:move('/board/delete/');">
                        <div>
                            확인
                        </div>
                    </a>
                    <hr>
                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal 3 -->
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    공유하기
                </div>
                <div class="modal-body center">
                    <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();">트위터</a>
                    <a id="btnKakao" class="link-icon kakao" href="javascript:sendLinkDefault();">카카오톡</a>

                    <hr>

                    <input type="text" id="ShareUrl">
                    <span class="btn-type1">
                        <button OnClick="javascript:CopyUrlToClipboard()">URL 복사</button>
                    </span>
                    <hr>
                    <a href="" data-bs-dismiss="modal">
                        <div>
                            취소
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<script layout:fragment="script" type='text/javascript'>
function url(){
    var obShareUrl = document.getElementById("ShareUrl");
    obShareUrl.value = window.document.location.href + "detail/" + sessionStorage.getItem("board_id") ;
}

//링크 복사
function copy(){
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href + "/detail/" + sessionStorage.getItem("board_id") ;
	textarea.value = url;
	textarea.select();
	textarea.focus();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.");
}

function CopyUrlToClipboard(){
	var obShareUrl = document.getElementById("ShareUrl");
	obShareUrl.value = window.document.location.href + "detail/" + sessionStorage.getItem("board_id") ;

	obShareUrl.select();
	document.execCommand("copy");

	alert("URL이 클립보드에 복사되었습니다");
}


//트위터 공유
/*<![CDATA[*/
function shareTwitter(){
    var sendText = sessionStorage.getItem("board_title");
    var sendUrl = window.document.location.href + "detail/" + sessionStorage.getItem("board_id") ;
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
    /*]]>*/
}



//카톡 공유
 try {
  Kakao.init('4961c3cbaa448fb5f0e3995a72595dcc');
  function sendLinkDefault() {
    var sendUrl = window.document.location.href + "detail/" + sessionStorage.getItem("board_id");
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: sessionStorage.getItem("board_title"),
        description: sessionStorage.getItem("board_content"),
        imageUrl:
          'https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587514212_1078.jpg',
        link: {
          mobileWebUrl: sendUrl,
          webUrl: sendUrl,
        },
      },
      social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845,
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: sendUrl,
            webUrl: sendUrl,
          },
        },
      ],
    })
  }
; window.kakaoDemoCallback && window.kakaoDemoCallback() }
catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }


//modal에 정보전달
$('#exampleModal').on('show.bs.modal', function (e) {
    var boardId = $(e.relatedTarget).data('id');
    var boardTitle = $(e.relatedTarget).data('title');
    var boardContent = $(e.relatedTarget).data('content');
	sessionStorage.setItem("board_id", boardId);
	sessionStorage.setItem("board_title", boardTitle);
	sessionStorage.setItem("board_content", boardContent);
});

function move(url){
    location.href = url+sessionStorage.getItem("board_id");
    sessionStorage.removeItem("board_id");
}

</script>
<!-- 자바스크립트 -->


</body>
</html>