<!DOCTYPE html>
<html layout:decorate="~{/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>질문 상세</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/modal.css}">
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>
<div layout:fragment="content" class="container my-3">
    <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();">트위터</a>
    <a id="btnKakao" class="link-icon kakao" href="javascript:sendLinkDefault();">카카오톡</a>
</div>
</div>


<!-- 자바스크립트 -->
<script layout:fragment="script" type='text/javascript'>

//트위터 공유
/*<![CDATA[*/
function shareTwitter(){
    var sendText = '[[${board.title}]]';
    var sendUrl = document.URL;
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
    /*]]>*/
}


//카톡 공유
 try {
 /*<![CDATA[*/
  Kakao.init('4961c3cbaa448fb5f0e3995a72595dcc')
  function sendLinkDefault() {
    var sendUrl = document.URL;
    Kakao.Link.sendDefault({
      objectType: 'feed',
      content: {
        title: '[[${board.title}]]',
        description: '[[${board.content}]]',
        imageUrl:
          'https://kgo.googleusercontent.com/profile_vrt_raw_bytes_1587514212_1078.jpg',
        link: {
          mobileWebUrl: sendUrl,
          webUrl: sendUrl,
        },
      },
      social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845,
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: sendUrl,
            webUrl: sendUrl,
          },
        },
      ],
    })
  }
; window.kakaoDemoCallback && window.kakaoDemoCallback() /*]]>*/}
catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }





</script>

</body>


</html>